.snake-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;

  flex-wrap: wrap;
  border: 1px solid black !important;
}

.grids {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;

  flex-wrap: wrap;
  border: 1px solid black !important;
}

.item {
  outline: 1px solid #eee;
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.is-food {
  background-color: grey;
}

.is-head {
  background-color: red;
}

.is-tail {
  background-color: orange;
}
.is-die{
  background-color: grey;
}

.grid-message {
  width: 100%;
  text-align: center;
}
.dark{
  color:white;
  background-color:red;
}
